.cards-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;
  max-height: 45%;
  margin-top: 3%; /* Assicurati che la sezione delle card non superi l'altezza del contenitore */
}


.cards-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card {
  background-color: #fff599;
  border-radius: 8px;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 100%;
  overflow: hidden;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
  max-height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.delete-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
}

.card-description-container {
  flex: 1;
  width: fit-content;
  height: fit-content;
  max-width: 150px;
  max-height: 125px;
  resize: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 2px solid #f1910070;
  border-radius: 4px;
  margin-bottom: 5px;
  background-color: #ffe6478e;
}

.text-field {
  font-size: 16px;
  background-color: #fff599;
  overflow: hidden;
  resize: none;
  overflow-y: auto;
  text-align: center;
  align-items: center;
}

.new-card {
  background-color: #fff599;
  border-radius: 8px;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 100%;
  overflow: hidden;
  padding: 3%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.counter {
  font-size: 14px;
  color: #666;
}