/* Styles for the overall application */

/* Styles for the overall application */
.App {
  font-family: 'Arial', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f4f4f4;
}

.headerMadSadGlad {
  display: flex;
  justify-content: space-between;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #fff;
  width: 100%;
  box-shadow: 0
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-left, .nav-right {
  flex: 1;
}

.nav-center {
  display: flex;
  justify-content: center;
  flex: 1;
}

.nav-center button {
  margin: 0 10px;
  font-size: 1rem;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #4CAF50;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.nav-center button:hover {
  background-color: #45A049;
}

.Retrospective, .Remira-script {
  font-weight: bold;
  font-size: 1.5rem;
}

.content {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  gap: 20px;
  flex: 1;
  margin-top: 3%;
  /* margin-bottom: 80px; Space above the footer */
  max-width: 90%;
  width: 90%;

}

.column {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  max-height: 500px;
  overflow-y: auto;
}

.column h2 {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  margin: -15px -15px 20px -15px;
  border-radius: 10px 10px 0 0;
  text-align: center;
  font-size: 20px;
}

.editable-paragraph {
  /* Usa flexbox per centrare il testo */
  flex-direction: column; /* Per gestire l'altezza del contenuto */
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra orizzontalmente */
  border-radius: 5px;
  transition: background-color 0.3s ease;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  width: 100%;
  /* height: calc(100% - 150px); Imposta l'altezza fissa */
  /* max-height: 300px; Altezza massima per il contenuto */
  overflow-y: auto; /* Scorrimento verticale se necessario */
  background-color: #f8f8f8;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  text-align: center; /* Centra il testo orizzontalmente */
  padding: 10px; /* Padding per dare spazio interno */
  box-sizing: border-box; /* Assicura che il padding non influisca sulla larghezza totale */
  font-size: 25px;
  height: 50%;
  align-content: center;
  
}
.editable-paragraph:focus {
  outline: none;
  background-color: lightgreen;
}

.post-it-container {
  background-color: #fff599;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  margin-top: auto;
  position: relative;
  max-height: 34%;
  
}

footer {
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #333;
  color: white;
  /* position: fixed; */
  width: 100%;
  bottom: 0;
  font-size: 0.9rem;
  margin-top: 20px; /* Space between the columns and the footer */
}

.editable-paragraph-container{
 
  /* margin-top: 8%; */
 
  height: 100%;

   overflow-y:  auto;
}
.editable-card{
  border-radius: 8px;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-height: 100%;

  margin-bottom: 10%;

}
.editable-paragraph-text{
  
outline: none;
  margin:0
}